.crumb {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 5s ease-out;
}


.crumb::after {
    content: '';    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
      transition: width 0.5s ease-out; 
}

.crumb:hover::after {
    width: 100%; 
}
